
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- css -->
    <link th:href="@{/lib/tui-grid.css}" rel="stylesheet" />
    <link th:href="@{/lib/bootstrap-styles.css}" rel="stylesheet" />
    <link th:href="@{/lib/jquery-ui.css}" rel="stylesheet" />
    <link th:href="@{/css/layout.css}" rel="stylesheet" />

    <!-- js -->
    <script type="text/javascript" th:src="@{/lib/tui-grid.js}"></script>
    <script type="text/javascript" th:src="@{/lib/jquery-3.7.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/companymgmt.js}"></script>

    <!-- <script type="text/javascript" th:src="@{/js/common_grid.js}"></script> -->

    <script type="text/javascript" th:src="@{/lib/jquery-ui.js}"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <title>Company Management</title>
</head>
<body>
    <div class="container">

        <header class="py-5">
            <div class="container px-lg-5">
                <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                    <div class="m-4 m-lg-5">
                        <h1 class="display-5 fw-bold">업체관리 시스템</h1>
                    </div>
                </div>
            </div>
        </header>


        <div class="container_content">
            <div class="search_area">

                <!--begin::Row-->
                <div class="row g-8">

                    <!-- 검색 타입 -->
                    <div class="col-lg-3">
                        <label class="fs-6 form-label fw-bold text-gray-900">검색 타입</label>                    
                        <select id="kind" class="form-select form-select-solid" data-control="select2" data-placeholder="In Progress" data-hide-search="true">                    
                            <option value="all">전체</option>
                            <option value="company_name">업체명</option>
                            <option value="product_name" selected>상품명</option>
                        </select>      
                    </div>

                    <!-- 키워드 -->
                    <div class="col-lg-3">
                        <label class="fs-6 form-label fw-bold text-gray-900">키워드</label>
                        <input id="keyword" type="text" class="form-control form-control form-control-solid">
                    </div>

                    <!-- 기간 검색 -->
                    <div class="col-lg-2">
                        <label class="fs-6 form-label fw-bold text-gray-900">시작날짜</label>
                        <input id="start_date" type="text" class="form-control form-control form-control-solid datepicker" autocomplete="off" readonly>
                    </div>

                    <div class="col-lg-2">
                        <label class="fs-6 form-label fw-bold text-gray-900">종료날짜</label>
                        <input id="end_date" type="text" class="form-control form-control form-control-solid datepicker" autocomplete="off" readonly>
                    </div>

                    <div class="col-lg-2">
                        <button id="btnSearch" type="submit" class="btn btn-primary" style="margin-top: 31px; float: right;">Search</button>
                    </div>
                </div>
            </div>

            <!-- <div class="row g-8">
                <div class="col-lg-2">
                    <button id="btnAdd" class="btn btn-primary" style="margin-top: 31px; float: right;">업체 추가</button>
                </div>
            </div> --> 

            <div id="grid" style="margin-top: 50px;"></div>
        </div>
    </div>
</body>
</html>

<script>

    let columns = [ 
        {
            header: 'No',
            name: 'seq',
            align: 'center',
            width: 150,
            whiteSpace: 'normal',
            formatter: function(e) {
                return e.value
            },
        },
        {
            header: '업체코드',
            name: 'code',
            align: 'center',
            width: 150,
            whiteSpace: 'normal',
            formatter: function(e) {
                return e.value
            },
        },
        {
            header: '주소',
            name: 'address',
            align: 'center',
            width: 300,
            whiteSpace: 'normal',
            formatter: function(e) {
                return e.value
            },
        },
        {
            header: '전화번호',
            name: 'phone',
            align: 'center',
            width: 150,
            whiteSpace: 'normal',
            formatter: function(e) {
                return e.value
            },
        },
        {
            header: '이메일',
            name: 'email',
            align: 'center',
            width: 150,
            whiteSpace: 'normal',
            formatter: function(e) {
                return e.value
            }
        }
    ];

    let view = new CompanyMgmt({
        grid: "grid",
        columns: columns
    });

    $(function() {
        $( "#start_date" ).datepicker();
        $( "#end_date" ).datepicker();
    });

    

</script>

<style>
    
    .ui-datepicker {
        z-index: 10000 !important;
    }
</style>