
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- css -->
    <link th:href="@{/lib/tui-grid.css}" rel="stylesheet" />
    <link th:href="@{/lib/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/lib/jquery-ui.css}" rel="stylesheet" />
    <link th:href="@{/lib/daterangepicker.css}" rel="stylesheet" />
    <link th:href="@{/css/layout.css}" rel="stylesheet" />

    <!-- js -->
    <script type="text/javascript" th:src="@{/lib/tui-grid.js}"></script>
    <script type="text/javascript" th:src="@{/lib/jquery-3.7.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/jquery-ui.js}"></script>
    <script type="text/javascript" th:src="@{/lib/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/daterangepicker.min.js}"></script>

    <script type="text/javascript" th:src="@{/js/productmgmt.js}"></script>
    <script type="text/javascript" th:src="@{/js/regex.js}"></script>

    <title>Product Management</title>
</head>
<body>
    <div class="container">

        <header class="py-5">
            <div class="container px-lg-5">
                <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                    <div class="m-4 m-lg-5">
                        <h1 class="display-5 fw-bold">상품관리 시스템</h1>
                    </div>
                </div>
            </div>
        </header>


        <div class="container_content">
            <div class="search_area">

                <!--begin::Row-->
                <div class="row g-12">

                    <!-- 검색 타입 -->
                    <div class="col-lg-3">
                        <label class="fs-6 form-label fw-bold text-gray-900">검색 타입</label>                    
                        <select id="type" class="form-select form-select-solid" data-control="select2" data-placeholder="In Progress" data-hide-search="true">                    
                            <option value="all">전체</option>
                            <option value="product_name" selected>상품명</option>
                            <option value="product_phone">상품코드</option>
                        </select>      
                    </div>

                    <!-- 키워드 -->
                    <div class="col-lg-3">
                        <label class="fs-6 form-label fw-bold text-gray-900">키워드</label>
                        <input id="keyword" type="text" class="form-control form-control form-control-solid">
                    </div>

                    <!-- 기간 검색 -->
                    <div class="col-lg-4">
                        <label class="fs-6 form-label fw-bold text-gray-900">기간선택</label>
                        <input id="datepicker_range" style="background-color: white !important" type="text" class="form-control form-control form-control-solid datepicker" autocomplete="off" readonly>
                    </div>
                    <div class="col-lg-2">
                        <button id="btnSearch" type="submit" class="btn btn-primary" style="margin-top: 31px; float: right;">Search</button>
                    </div>
                </div>
            </div>

            <div style="float: left; padding-top: 10px;">
                <button id="btnNew" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#popupAddProduct">상품 추가</button>
                <button id="btnDelete" class="btn btn-info btn-sm">상품 삭제</button>
            </div>

            <div id="grid" style="margin-top: 50px;"></div>
        </div>
    </div>



  
  <!-- Modal -->
  <div class="modal fade" id="popupAddProduct" tabindex="-1" aria-labelledby="popupAddProductLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="popupAddProductLabel">상품 정보</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div>
                <input type="hidden" id="company_seq">
                <div class="mb-3">
                    <label for="company_name" class="col-form-label">상품명:</label>
                    <input type="text" class="form-control" id="company_name">
                </div>
                <div class="mb-3">
                    <label for="company_code" class="col-form-label">상품코드:</label>
                    <input type="text" class="form-control" id="company_code">
                </div>
                <div class="mb-3">
                    <label for="company_phone" class="col-form-label">단가:</label>
                    <input type="text" class="form-control" id="company_phone" placeholder="'-'문자를 포함하여 입력해주세요.">
                </div>
                <div class="mb-3">
                    <label for="company_email" class="col-form-label">대표 이메일:</label>
                    <input type="text" class="form-control" id="company_email">
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          <button type="button" class="btn btn-primary" id="btnAdd">저장</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

<script>

let columns = [ 
        {
            header: 'No',
            name: 'seq',
            align: 'center',
            width: 50,
            whiteSpace: 'normal',
            formatter: function(e) {
                return e.value
            },
        },
        {
            header: '상품명',
            name: 'name',
            align: 'center',
            width: 300,
            whiteSpace: 'normal',
            formatter: function(e) {
                return e.value
            },
        },
        {
            header: '상품코드',
            name: 'code',
            align: 'center',
            width: 150,
            whiteSpace: 'normal',
            formatter: function(e) {
                return e.value
            },
        },
        {
            header: '재고수량',
            name: 'amount',
            align: 'center',
            width: 100,
            whiteSpace: 'normal',
            formatter: function(e) {
                return e.value.toLocaleString();
            },
        },
        {
            header: '단가',
            name: 'price',
            align: 'center',
            width: 200,
            whiteSpace: 'normal',
            formatter: function(e) {
                return e.value.toLocaleString();
            },
        },
        {
            header: '생성일자',
            name: 'createdDate',
            align: 'center',
            width: 200,
            whiteSpace: 'normal',
            formatter: function(e) {
                return new Date(e.value).toLocaleString();
            }
        },
        {
            header: '수정일자',
            name: 'updatedDate',
            align: 'center',
            width: 200,
            whiteSpace: 'normal',
            formatter: function(e) {
                return new Date(e.value).toLocaleString();
            }
        }
    ];

    let view = new ProductMgmt({
        grid: "grid",
        columns: columns
    });

    $(function() {

        $('#datepicker_range').daterangepicker({
            opens: 'left'
        }, function(start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });
    });
</script>